/* The @import "tailwindcss" is the same as the following lines
@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

Tailwind preflight adds a lot opinionated styles to elements. 
So if your unstyled elements look different from vanilla HTML, it might be because of preflight
Learn more about tailwind preflight here: https://tailwindcss.com/docs/preflight
*/
@import "tailwindcss";

@font-face {
	font-family: Audiowide;
	font-weight: 400;
	font-style: normal;
	/* This url might fail when hosted on GitHub Pages due the site being hosted in a subdirectory */
	src: url("/fonts/Audiowide-Regular.ttf") format("truetype");
}

@font-face {
	font-family: Anaheim;
	font-weight: 200;
	font-style: normal;
	src: url("/fonts/Anaheim-VariableFont_wght.ttf") format("truetype");
}

@theme {
	--color-sfyellow: #fff5d9;
	--color-login-button: #d9d9d9;
	--color-sf-grey-blue: #838fba;
	--color-sf-dark-blue: #132a3e;
	--color-sf-darker-blue: #132330;
	--color-sf-pink: #ffc2e2;
	--color-sf-light-blue: #2b455c;
	--color-sf-tan: #fff5d9;
	--color-sf-bloo: #16133d;
	--color-sf-dark-purp: #9882ba;
	--color-sf-purp: #edc6fa;
	--color-background: hsl(var(--background));
	--color-foreground: hsl(var(--foreground));

	--radius-4xl: 2rem;
	--radius-lg: var(--radius);
	--radius-md: calc(var(--radius) - 2px);
	--radius-sm: calc(var(--radius) - 4px);

	--breakpoint-xl: 1920px;
	--breakpoint-bruh: 600px;
	--breakpoint-z: 1366px;
	--breakpoint-k: 1280px;
	--breakpoint-ok: 500px;

	--font-audiowide: "Audiowide", serif;
	--font-anaheim: "Anaheim", serif;
}
