/* The @import "tailwindcss" is the same as the following lines
@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

Tailwind preflight adds a lot opinionated styles to elements. 
So if your unstyled elements look different from vanilla HTML, it might be because of preflight
Learn more about tailwind preflight here: https://tailwindcss.com/docs/preflight
*/
@import "tailwindcss";

@font-face {
	font-family: Audiowide;
	font-weight: 400;
	font-style: normal;
	/* This url might fail when hosted on GitHub Pages due the site being hosted in a subdirectory */
	src: url("/fonts/Audiowide-Regular.ttf") format("truetype");
}

@font-face {
	font-family: Anaheim;
	font-weight: 200;
	font-style: normal;
	src: url("/fonts/Anaheim-VariableFont_wght.ttf") format("truetype");
}

/* I recommend declaring style variables in inline theme whenever possible -V */
/* @see https://tailwindcss.com/docs/theme#referencing-other-variables */
@theme inline {
	--font-audiowide: "Audiowide", serif;
	--font-anaheim: "Anaheim", serif;

	--radius-sm: calc(var(--border-radius) - 4px);
	--radius-md: calc(var(--border-radius) - 2px);
	--radius-lg: var(--border-radius);
	--radius-xl: calc(var(--border-radius) + 4px);

	/* Colors for icons like accordion chevron */
	--color-icon: #ff76fe;

	--color-background: var(--background);
	--color-foreground: var(--foreground);

	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);

	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);

	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);

	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);

	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
}

:root {
	--border-radius: 0.625rem;

	--padding-inline-default: 1em;
	--padding-block-default: 0.3em;
	--margin-default: 1rem;

	/* Some recommended widths for paragraphs and elements that contain paragraphs */
	/* These numebrs were based off of vibes */
	--paragraph-width-default: 35rem;
	--paragraph-width-large: 48rem;

	--padding-default: 14px;

	--background: oklch(1 0 0);
	--foreground: oklch(0.141 0.005 285.823);

	--card: oklch(1 0 0);
	--card-foreground: oklch(0.141 0.005 285.823);

	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.141 0.005 285.823);

	--primary: oklch(0.21 0.006 285.885);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.967 0.001 286.375);
	--secondary-foreground: oklch(0.21 0.006 285.885);

	--accent: oklch(0.967 0.001 286.375);
	--accent-foreground: oklch(0.21 0.006 285.885);

	--muted: oklch(0.967 0.001 286.375);
	--muted-foreground: oklch(0.552 0.016 285.938);

	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;

	--border-radius: 0.75rem;

	--background-opacity: 0.675;
	/* --background-color-solid: rgb(from var(--palette-1) r g b); */
	--background-color-solid: #171324;
	--background-color: rgb(
		from var(--palette-1) r g b / var(--background-opacity)
	);
	/* --background-color-element-opaque: #16133d; */
	--background-color-element-opaque: #43457f;
	--background-color-element: #303160;
	--hover-color: #4a3790;
}
/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/

@utility no-scrollbar {
	/* Hide scrollbar for Chrome, Safari and Opera */
	&::-webkit-scrollbar {
		display: none;
	}
	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

@utility bg-primary-gradient {
	/* Still working on proper theme color names so the secondary hex color isn't a custom property yet*/
	background-image: linear-gradient(
		to bottom,
		var(--background-color-element-opaque) 50%,
		#303160 100%
	);
}

@layer components {
	.label {
		padding-inline: var(--padding-inline-default);
		padding-block: var(--padding-block-default);

		background-color: var(--background-color-element-opaque);
	}
	.card {
		padding: 0;
		> h1,
		h2,
		h3,
		h4,
		h5,
		hgroup {
			display: block;
			width: 100%;

			border-end-start-radius: 0;
			border-end-end-radius: 0;

			margin: 0;
		}

		> * {
			display: block;
			padding-inline: var(--padding-inline-default);
			padding-block: var(--padding-block-default);
		}
	}
}
